html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  transition: all 0.5s ease-in-out 0s;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 74px 40px 0;
}

:root {
  --color-primary: #c4161c;
  --color-secondary: #f9c6bf;
  --color-tertiary: #bcbec0;
}

.logo {
  padding: 10px 0;
}

.appbar {
  display: flex;
  top: 0;
  left: 0;
  flex-direction: row;
  padding: 0 40px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  background-color: var(--color-primary);
  height: 54px;
  position: fixed;
  width: 100vw;
}

.subtitle {
  margin: 25px 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
}

.redBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--color-secondary);
  margin: 20px 0;
  padding: 15px 20px;
}

.textRedBox {
  /* margin: 1rem; */
}

form {
  margin: 40px 0;
}

.inputFields {
  width: 100%;
  color: black;
  padding: 14px 20px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.calendarAndCourses {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  height: 350px;
}

.calendarAndCourseContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 600px) {
  .calendarAndCourseContainer {
    flex-direction: column;
  }
}

.calendarBox {
  width: 75%;
  padding: 0 15px 0 0;
  height: 100%;
}

.rectangle {
  display: flex;
  list-style: none;
  width: 100%;
  height: 32px;
  background: var(--color-secondary);
  border-radius: 5px 5px 0 0;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: grid;
  gap: 0 1px;
  grid-template-columns: repeat(5, 1fr);
  height: calc(100% - 32px);
}

.columnsDays {
  padding: 0.25%;
  background-color: #c4c4c4;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  margin: 1px 0.5px;
}

.calendarClassBox {
  margin: 0 0 1px;
  text-align: center;
  background-color: var(--color-secondary);
  padding: 2px 1px;
}

.calendarClassBox span {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.calendarClassBox p {
  white-space: pre-wrap;
  font-size: 1rem;
  margin: 0;
}

.coursesBox {
  margin: 0;
  background-color: var(--color-secondary);
  border-radius: 5px 5px 0 0;
}

.coursesBox h1{
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.coursesBox h4{
  margin: 10px;
  font-weight: 700;
  color: black;
}

.inputList {
  padding: 0px 10px;
  height: 72%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}


.bn632-hover {
  width: 10%;
  padding: 1.5%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn28 {
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      #f02e34,
      #df3338,
      #e2373f
    );
    box-shadow: 0 1px 3px rgba(242, 97, 103, 0.4);
  }

.buttonCenter{
  display: flex;
  justify-content: center;
  margin: 5px;
}