<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'inputs/css/style.css' %}"
    />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.js"></script>

    <meta charset="UTF-8" />
    <title>Projeto International</title>
    <link rel="icon" href="{% static 'inputs/img/logo_insper.png' %}" />
  </head>

  <div class="appbar">
    <img class="logo" src="{% static 'inputs/img/Insper-negativo.png' %}" />
  </div>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
