{% extends "inputs/base.html" %}
{% load static %}

{% block content %}


<div class="card">
  <div class="upper-side">
      <i class="fa fa-times-circle sizeCheck" style="font-size:48px;" aria-hidden="true"></i>
      <h3 class="status"> Error! </h3>
  </div>

  <div class="lower-side">
  <p class="message"> 
      Your submission has not been received. <br> <br>
      Remember : it is mandatory to send three options of schedule and you must select at least 18 ECTS in courses in each schedule. <br><br>
      If you got this error, you probably didn't do one of these things described.   <br><br>
      Please, fill out the form again.
  </p>
  </div>
</div>
{% endblock %}

