{% extends "inputs/base.html" %}
{% load static %}

{% block content %}

<p class="subtitle"> Courses' Choice 2021.2 (Business, Economics and Engineering)</p>

<div class="redBox">
  <p class="textRedBox"> 
    <strong>Please, read this carefully.</strong>
     <br><br>
    We have defined the list of elective courses taught in English for the fall semester (February - June 2022) <br><br>

    Attached to the e-mail you received you will find the syllabus and timetable for the courses. <br><br>

    Please indicate your Course’s choices until December 7th – 12:00 (Brazil Time) in the form below.<br><br>

    Take special attention to the timetable, courses are offered once or twice a week, depending on the course load. <br><br>
    - 6 ECTS courses : Classes twice a week. <br>
    - 3 ECTS courses: Classes once a week. <br><br>

    It is very important to make sure you avoid overlaps in your choices, be very attentive to the classes timetable. You will not be able to choose courses in the same time slots. <br><br>

    Attention: Available spaces in each course are first-come-first-serve basis, we will confirm your courses' choice by December 20th. <br><br>

    Based on availability, students will be able to add or drop courses on the first week of classes, only. <br><br>

    Let us know if you have any doubts. <br><br>

    Kind Regards.<br><br>

    <strong>Insper International Office.</strong>
  </p>
</div>

<form method="post">
    {% csrf_token %}
  <label for="name">1.Full Name (as written in passport):</label><br> 
  <input class="inputFields" id="name" type="text" name="name" /> <br>
  <label for="homeUniversity">2.Home University:</label> <br>
  <input class="inputFields" id="homeUniversity" name="homeUniversity"></input><br>

  <div class="redBox">
    <div class="textRedBox">
      <h4 style="color:red;"> Attention! </h4> <br><br>

      You will find bellow the course options and a timetable, by selecting the courses you would like to take, the schedule will be fullfilled. <br><br>
      If there are any overlaps, you will need to select another course.<br><br>
      You are required to send three options of schedules with the courses you would like to take, by order of priority (first option – most wanted courses, second option and third option). <br><br>
      It is mandatory to send three options of schedule. <br><br>
      <p style="color:red;">IMPORTANT: You must select at least 18 ECTS in courses in each schedule.</p>


    </div>
  </div>


  <br><br>
  <h3>First Option</h3>
  <br>

  <div class="calendarAndCourses course1">
    <div class="calendarAndCourseContainer">
      <div class="calendarBox">
        <ul class="rectangle">
          <li>M</li>
          <li>T</li>
          <li>W</li>
          <li>T</li>
          <li>F</li>
        </ul>
            
        <div id="rowOption1" class="row">
          <div class="columnsDays Monday">
          </div> 
          <div class="columnsDays Tuesday">
            <p></p>
          </div> 
          <div class="columnsDays Wednesday">
            <p></p>
          </div> 
          <div class="columnsDays Thursday">
            <p></p>
          </div> 
          <div class="columnsDays Friday">
            <p></p>
          </div>
        </div>
      </div>
    
      <div class="coursesBox">
        <h1>Select the courses below:</h1>
        <h4>ECTS - Course - Professor</h4>
        <!-- <h4 name="ECTS1" value = 3> Hello </h4> -->
        <h4 class="sumEcts rowOption1" id="ECTS1" value='' name='ECTS1'> Sum of ECTS :  0</h4>
        <div class='inputList'>
          {%for course in courses %}
          <div>
            <input onchange="checkInput(this,'{{course.id}}', '{{course}}', '{{course.dates.all}}','rowOption1', '{{course.ects}}')" type="checkbox" id="courseInput_'{{course.id}}'" name="courses1" class="checkbox1" value='{{course.name}}'>
            <label for="course1">{{course.ects}} ECTS - {{course.name}}</label>
            {%for date in course.dates.all %}
            <label> | {{date}}</label>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="buttonCenter">
    <a class="bn632-hover bn28" onclick="clearOptions('rowOption1', 'checkbox1')">Clear All</a>
  </div>

  <br><br>
  <h3>Second Option</h3>
  <br>


  <div class="calendarAndCourses course2">
    <div class="calendarAndCourseContainer">
      <div class="calendarBox">
        <ul class="rectangle">
          <li>M</li>
          <li>T</li>
          <li>W</li>
          <li>T</li>
          <li>F</li>
        </ul>
            
        <div id="rowOption2" class="row">
          <div class="columnsDays Monday">
          </div> 
          <div class="columnsDays Tuesday">
            <p></p>
          </div> 
          <div class="columnsDays Wednesday">
            <p></p>
          </div> 
          <div class="columnsDays Thursday">
            <p></p>
          </div> 
          <div class="columnsDays Friday">
            <p></p>
          </div>
        </div>
      </div>
    
      <div class="coursesBox">
        <h1>Select the courses below:</h1>
        <h4>ECTS - Course - Professor</h4>
        <h4 class="sumEcts rowOption2" id="ECTS2" value='' name='ECTS2'> Sum of ECTS :  0</h4>
        
        <div class='inputList'>
          {%for course in courses %}
          <div>
            <input onchange="checkInput(this,'{{course.id}}', '{{course}}', '{{course.dates.all}}','rowOption2', '{{course.ects}}')" type="checkbox" id="courseInput_'{{course.id}}'" type="checkbox" id="courseInput_'{{course.id}}'" name="courses2" class="checkbox2" value='{{course.name}}'>
            <label for="course2">{{course.ects}} ECTS - {{course.name}}</label>
            {%for date in course.dates.all %}
            <label> | {{date}}</label>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="buttonCenter">
    <a class="bn632-hover bn28" onclick="clearOptions('rowOption2', 'checkbox2')">Clear All</a>
  </div>

  <br><br>
  <h3>Third Option</h3>
  <br>

  <div class="calendarAndCourses course3">
    <div class="calendarAndCourseContainer">
      <div class="calendarBox">
        <ul class="rectangle">
          <li>M</li>
          <li>T</li>
          <li>W</li>
          <li>T</li>
          <li>F</li>
        </ul>
            
        <div id="rowOption3" class="row">
          <div class="columnsDays Monday">
          </div> 
          <div class="columnsDays Tuesday">
            <p></p>
          </div> 
          <div class="columnsDays Wednesday">
            <p></p>
          </div> 
          <div class="columnsDays Thursday">
            <p></p>
          </div> 
          <div class="columnsDays Friday">
            <p></p>
          </div>
        </div>
      </div>
    
      <div class="coursesBox">
        <h1>Select the courses below:</h1>
        <h4>ECTS - Course - Professor</h4>
        <h4 class="sumEcts rowOption3" id="ECTS3" value='' name='ECTS3'> Sum of ECTS :  0</h4>


        <div class='inputList'>
          {%for course in courses %}
          <div>
            <input onchange="checkInput(this,'{{course.id}}', '{{course}}', '{{course.dates.all}}','rowOption3', '{{course.ects}}')" type="checkbox" id="courseInput_'{{course.id}}'" type="checkbox" id="courseInput_'{{course.id}}'" name="courses3" class="checkbox3" value='{{course.name}}'>
            <label for="course3">{{course.ects}} ECTS - {{course.name}} </label>
            {%for date in course.dates.all %}
            <label> | {{date}}</label>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="buttonCenter">
    <a class="bn632-hover bn28" onclick="clearOptions('rowOption3', 'checkbox3')">Clear All</a>
  </div>

  <div class="buttonCenter">
    <button class="bn632-hover bn28" type="submit">Submit</button>
  </div>

</form>

<script src="{% static 'inputs/script/input.js' %}"></script>

{% endblock %}